node_modules
dist
build
# Estou deixando o .env porque a única informação "sensível" que tem nele é a VITE_API_URL, que não tem problema nenhum vazar (pelo menos para esse projeto)
# .env
*.db
*.db-journal
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log
.vscode
coverage
